*{
    margin: 40px;
    background-color: black;
}
div{
    border: 10px solid orchid;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 10px 20px 15px orchid;
} 
p{
    color: blueviolet;
    font-size: larger;
    border: 10px solid orchid;
    margin: 30px;
    background-color: burlywood;
    border-radius: 20px;
    padding: 10px;
    box-shadow:10px 20px 15px orchid
    
}
.header{
    height: 200px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    text-decoration: overline underline;
    background-image: url('pexels-photo-719396.jpeg');
    background-size: contain;
    background-repeat: repeat-x;
}